
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Student Registration</h1>
<div class="container mt-3">
    <div id="message"></div>

    <div id="formdetails">
        <div class="row">
            @* First Name *@
            <div class="form-group col-md-6">
                <label for="lblFname">First Name</label>
                <span class="text-danger" id="spanFname"></span>
                <input type="text" id="txtFname" class="form-control" placeholder="First Name" />
            </div>

            @* Last Name *@
            <div class="form-group col-md-6">
                <label for="lblLname">Last Name</label>
                <span class="text-danger" id="spanLname"></span>
                <input type="text" id="txtLname" class="form-control" placeholder="Last Name" />
            </div>
        </div>

        @* Address *@
        <div class="row mt-2">
            <div class="form-group">
                <label for="lblAddress">Address</label>
                <span class="text-danger" id="spanAddress"></span>
                <input type="text" id="txtAddress" class="form-control" placeholder="Address" />
            </div>
        </div>

        @* Age *@
        <div class="row mt-2">
            <div class="form-group col-sm-4">
                <label for="lblAge">Age</label>
                <span class="text-danger" id="spanAge"></span>
                <input type="text" id="txtAge" class="form-control" placeholder="Age" />
            </div>

            @* Phone Number *@
            <div class="form-group col-sm-4">
                <label for="lblMobile">Mobile Number</label>
                <span class="text-danger" id="spanMobileN"></span>
                <input type="tel" id="txtMobile" class="form-control" placeholder="Mobile Number" />
            </div>

            @* Email Id *@
            <div class="form-group col-sm-4">
                <label for="lblEmail">Email Id</label>
                <span class="text-danger" id="spanEmail"></span>
                <input type="email" id="txtEmail" class="form-control" placeholder="Email Id" />
            </div>
        </div>

        @* Qualification *@
        <div class="row">
            <div class="form-group">
                <label for="lblQualification">Qualification</label>
                <select id="ddlQualification" class="form-control">
                    <option value=""></option>
                    <option value="1">SSC</option>
                    <option value="2">HSC</option>
                    <option value="3">Graduation</option>
                    <option value="4">Post-Graduation</option>
                </select>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-success mt-3" id="btnSubmit">Submit</button>
    <button type="button" class="btn btn-danger mt-3" id="btnCancel">Cancel</button>


</div>

    <div id="displayData">
        <table id="info">
        </table>
    </div>

<script>
    $(document).ready(function () {
         Validate();



        // Validate FirstName
        $('#spanFname').hide();
        $('#txtFname').keyup(function () {
            //console.log('keyup');
            validateFirstname();
        });

        function validateFirstname()
        {
            let firstnameValue = $('#txtFname').val();
            if (firstnameValue.length == '') {
                $('#spanFname').show();
                $('#spanFname').html('Firstname cannot be empty');
            }
            else if ((firstnameValue.length < 2))
            {
                $('#spanFname').show();
                $('#spanFname').html('Firstname is very short');
            }
            else
            {
                $('#spanFname').hide();

            }
        }

        //Validate LastName
        $('#spanLname').hide();
        $('#txtLname').keyup(function () {
            validateLastName();
        })

        function validateLastName() {
            let lastnameValue = $('#txtLname').val();
            if (lastnameValue.length == '') {
                $('#spanLname').show();
                $('#spanLname').html('Lastname cannot be empty');
            }
            else if ((lastnameValue.length < 2)) {
                $('#spanLname').show();
                $('#spanLname').html('Lastname is very short');
            }
            else {
                $('#spanLname').hide();
            }
        }

        // Validate Address
        $('#spanAddress').hide();
        $('#txtAddress').keyup(function () {
            validateAddress();
        })

        function validateAddress() {
            let addressValue = $('#txtAddress').val();
            if (addressValue.length == '') {
                $('#spanAddress').show();
                $('#spanAddress').html('Address cannot be empty');
            }
            else if ((addressValue.length < 2)) {
                $('#spanAddress').show();
                $('#spanAddress').html('Address is very short');
            }
            else {
                $('#spanAddress').hide();
            }
        }

        // Validate Age
        $('#spanAge').hide();
        $('#txtAge').keyup(function () {
            validateAge();
        })

        function validateAge() {
            let ageValue =  $('#txtAge').val();

            if (ageValue.length == '') {
                $('#spanAge').show();
                $('#spanAge').html('Age cannot be empty');
            }
            else if ((ageValue.length < 1 || ageValue.length > 2)) {
                $('#spanAge').show();
                $('#spanAge').html('Age should be between 1-99');
            }
            else {
                $('#spanAge').hide();
            }
        }

        // Validate Mobile Number
        $('#spanMobileN').hide();
        $('#txtMobile').keyup(function () {
            validateMobileNumber();
        })

        function validateMobileNumber() {
            let mobileNumber = $('#txtMobile').val();
            if (mobileNumber.length == '') {
                $('#spanMobileN').show();
                $('#spanMobileN').html('Mobile number cannot be empty');
            }
            else if ((mobileNumber.length < 3 || mobileNumber.length > 10)) {
                $('#spanMobileN').show();
                $('#spanMobileN').html('Mobile number should of 10 digits');
            }
            else {
                $('#spanMobileN').hide();
            }
        }

        // Validate Email
        $('#spanEmail').hide();
        $('#txtEmail').keyup(function () {
            let email = $('#txtEmail').val();
            if (email.length == '') {
                $('#spanEmail').show();
                $('#spanEmail').html('Email cannot be empty');
            }
            //else if () {

            //}
            else {
                $('#spanEmail').hide();
            }
        })


    })

    function Validate() {
        $('#btnSubmit').click(function () {

            let firstname = $('#txtFname').val();
            let lastname = $('#txtLname').val();
            let address = $('#txtAddress').val();
            let age = $('#txtAge').val();
            let mobile = $('#txtMobile').val();
            let emailid = $('#txtEmail').val();
            let qual = $('#ddlQualification').val();
            if (firstname === "" || lastname === "" || address === "" || age === "" || mobile === "" || emailid === "" || qual === "") {
                $('#message').html('<p style="color:red;">Enter Complete Details</p>');
            }
            else {
                $('#message').html('<p style="color:green;">Form Submitted</p>');
            }

        })





    }
</script>

